/* từ tổng quan đến chi tiết
từ ngoài vào trong 
từ sau ra trước
từ trên xuống dưới
từ trái sang phải*/
body {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    display: flex;
}

ul {
    list-style: none;
    padding: 0px;
}

/* =========Header============= */
#header {
    background: #23282d;
    padding-top: 27px;
    padding-bottom: 10px;
}

form#search {
    position: relative;
}

form#search input {
    background: #131619;
    width: 248px;
    color: #6f6f70;
    border: none;
    outline: none;
    padding: 9px 42px 9px 15px;
}

form#search button {
    position: absolute;
    border: none;
    color: #a2a1a1;
    top: 0px;
    right: 0px;
    padding: 9px 12px;
    background: #131619;
}

form#search ::placeholder {
    color: #6f6f70;
}

nav {
    margin-top: 7px;
    flex: 100%;
    border-right: 10px solid #ff2d2d;
}

ul#main-menu {
    margin-bottom: 0;
}

ul#main-menu li a {
    padding: 6px 20px;
    display: block;
    text-decoration: none;
    color: #dbdbdb;
}

ul#main-menu li:first-child a {
    padding-left: 0px;
}

ul#main-menu li a:hover {
    color: #4db2ec;
}


#wp-featured-post {
    margin-bottom: 20px;
}

.box .box-head h3 {
    display: inline-block;
    font-family: 'Open Sans';
    background: #23282d;
    color: #eeeeee;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1px 15px;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 16px;
}

.box .box-body {
    padding-top: 20px;
}

.box.featured-post .box-body {
    padding-bottom: 30px;
    border-bottom: 1px solid #dadada;
}

ul.list-featured-post li {
    flex: 360px 0 1;
}

ul.list-featured-post li .post-thumb {
    transition: all 0.25s;
    display: block;
    overflow: hidden;
}

ul.list-featured-post li .post-thumb img {
    transition: all 0.25s;
}

ul.list-featured-post li .post-thumb:hover img {
    transform: scale(1.05);

}

ul.list-featured-post li a.post-title {
    display: block;
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
}

/* wp content */
#content {
    flex: 760px;
    padding-right: 15px;
}

#sidebar {
    flex: 375px;
    padding-left: 15px;
}

.box.new-post .box-head h3 {
    background: #4db2ec;
    margin-bottom: 0;
}

.box.new-post .box-head {
    border-bottom: 2px solid #4db2ec;
    margin-bottom: 10px;
}


ul.list-post li {
    display: flex;
    margin-bottom: 40px;
}

ul.list-post li .post-thumb {
    display: block;
    padding-right: 15px;
    flex: 280px;
}

ul.list-post li .more-infor {
    padding-left: 15px;
}

ul.list-post li .more-infor .post-title {
    color: #111111;
    display: block;
    font-size: 21px;
    font-weight: 600;
}

ul.list-post li:hover .more-infor a.post-title {
    color: #4db2ec;
    text-decoration: none;
}

ul.list-post li .more-infor .post-published {
    font-size: 11px;
    font-weight: 600;
    padding: 6px 0px;
}

ul.list-post li .more-infor .post-author {
    color: #111111;
}

ul.list-post li .more-infor .post-date {
    color: #b7b7b7;
}

ul.list-post li .more-infor .post-excerpt {
    font-size: 13px;
    color: #777777;
    margin-bottom: 0;
}

/* Sidebar */
#sidebar a.ads {
    display: block;
    margin-bottom: 40px;
}

.box.top-topic .box-head h3 {
    background: #ff2d2d;
}

.box.top-topic .box-head {
    border-bottom: 2px solid #ff2d2d;
}

ul.sidebar-menu li a {
    font-size: 16px;
    font-weight: 400;
    display: block;
    color: #212121;
    padding: 6px 0px;
    position: relative;
}

ul.sidebar-menu li a span.number-post {
    position: absolute;
    top: 7px;
    right: 20px;
}

ul.sidebar-menu li:hover a {
    text-decoration: none;
    color: #ff2d2d;
}


/* footer */

#footer {
    background: #131619;
    padding-top: 52px;
    padding-bottom: 72px;
    color: #f6f6f6;
}

#footer .box .box-head h3 {
    background: none;
    padding-left: 0;
    padding-right: 0;
}

#footer .box .box-body {
    padding-top: 40px;
}

#footer .box.logo-footer {
    flex: 280px;
    padding-right: 15px;
}

#footer .box.about-us {
    flex: 680px;
    padding-left: 15px;
    padding-right: 180px;
}

#footer .box.folow-us {
    flex: 180px;
    padding-left: 15px;
}

#footer .box.about-us a {
    color: #4db2ec;
}

#footer .box.logo-footer .box-head {
    visibility: hidden;
}

ul.list-social li {
    margin-left: 15px;
}

ul.list-social li a {
    display: block;
    padding: 5px 12px;
    background-color: #434648;
    color: #eeeeee;
}

ul.list-social li:first-child {
    margin-left: 0;
}

ul.list-social li:hover a {
    color: #4db2ec;
}

/* Copyright */

#wp-copyright {
    background: #222527;
}

p.copyright {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 14px;
    margin-bottom: 0;
}

#wp-copyright .container {
    position: relative;
}

#wp-copyright ul#footer-menu {
    position: absolute;
    right: 0px;
}

ul#footer-menu li {
    display: block;
    padding: 12px 15px;
    margin-bottom: 0;
}

ul#footer-menu li a {
    color: #f3f3f3;
    font-size: 14px;

}

ul#footer-menu li:hover a {
    color: #4db2ec;
    text-decoration: none;
}